@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9ph5xa');
  src:  url('../fonts/icomoon.eot?9ph5xa#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9ph5xa') format('truetype'),
    url('../fonts/icomoon.woff?9ph5xa') format('woff'),
    url('../fonts/icomoon.svg?9ph5xa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Back:before {
  content: "\e900";
}
.icon-Book:before {
  content: "\e901";
}
.icon-Class:before {
  content: "\e902";
}
.icon-Close:before {
  content: "\e903";
}
.icon-Feedback:before {
  content: "\e904";
}
.icon-Gou:before {
  content: "\e905";
}
.icon-Mine:before {
  content: "\e906";
  color: #8a8a8a;
}
.icon-More:before {
  content: "\e907";
}
.icon-Out:before {
  content: "\e908";
}
.icon-Rank:before {
  content: "\e909";
}
.icon-Search:before {
  content: "\e90a";
}
.icon-Setting:before {
  content: "\e90b";
  color: #555656;
}
